:root{
  --white:#ffffff;
  --buttonColor:linear-gradient(to right, #1fa2ff, #12d8fa, #4de88e);
  --black:#000000;
}

/* Global Styles */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}
body{
  background-color: black;
  height: 100%;
}
img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
p{
  font-size: 1.6rem;
}
input{
  font-family: 'Montserrat', sans-serif;
}
h2{
  font-size: 5rem;
}
h3{
  font-size: 3.5rem;
}
h4{
  font-size: 2.2rem;
}

.mb_1{
  margin-bottom: 1rem;
}
.mb_2{
  margin-bottom: 2rem;
}

.link{
  text-decoration: none;
}

.btn{
  border: none;
  cursor: pointer;
  outline: none;
}

.fluid__container{
  margin: 0 auto;
  padding-top: 12vh;
  max-width: 130rem;
  width: 90%;
}

.container__styles{
    background-color: var(--black);
    color: var(--white);
    opacity: .9;
    min-height: 100vh;
}
