.form{
    background-color: rgb(41, 40, 40);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
    width: 400px;
    /* width: 100%; */
}

.form legend{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.form__input{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: relative;
}

.form__input label {
    font-size: 1.4rem;
}

.form__input input{
    border: 2px solid lightgray;
    border-radius: .3rem;
    font-size: 1.6rem;
    padding: 1rem;
    display: block;
    width: 100%;
    outline: none;
}

.form__button{
    background:var(--buttonColor);
    border: none;
    border-radius: .3rem;
    color: var(--white);
    cursor: pointer;
    font-size: 1.6rem;
    margin-top: 1rem;
    padding: 1rem 0;
}

.form__validation__text {
    color: rgb(210, 0, 0);
    font-size: 1.4rem;
    
}

.form__validation__text li {
    list-style:none;
    line-height: 1.5;
}
